/*

-- 01 TYPOGRAPHY
    Font Size (px):
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    Font Weight
    400 (default), 500, 600, 700

    Line height
      Default: 1
      Paragraphs: 1.6
      Small: 1.05 (h1)
      Medium: 1.2 (h2)

    Letter Spacing
      Primary heading: -0.5px 
      Subheading: 1.6px 

-- 02 COLORS PALETTE
      Primary: #e67e22
      Accent: 
      Tints (Lighter): #fdf2e9 #fae5d3
      Shades (Darker):  #cf711f
      Greys: #555, #333

-- 03 SHADOWS
-- 04 BORDER-RADIUS
    Rounded: 150px 


-- 05 WHITESPACE
    Spacing System (px):
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
